.socialLinksWrapper {
  margin: 0 0 2rem;
  order: 2;
  width: 100%;

  @media screen and (min-width: 1025px) {
    //desktop and above
    order: initial;
    margin: 3.2rem auto 0;
  }
}

.socialLinksList {
  align-items: center;
  display: flex;
  justify-content: space-evenly;

  a {
    color: var(--color-gray-500);
    transition: all 0.2s ease;

    &:hover {
      color: var(--color-white);
    }
  }
}

.iconWrapper {
  fill: var(--color-gray-500);
  height: 30px;
  width: 30px;

  @media screen and (min-width: 1025px) {
    //desktop and above
    height: 24px;
    width: 24px;
  }

  &:hover {
    svg {
      transform: scale(1.2);
    }
  }
}
