.profileContainer {
  padding-top: 2rem;
}

.profileLink {
  color: var(--color-gray-500);
  transition: color 0.2s ease;

  &:hover {
    color: var(--color-white);
  }
}

.profileAuthor {
  font-family: 'Caveat';
  font-size: 3.2rem;
  margin: 0.8rem auto 2rem;
}

.profilePosition {
  font-family: 'Roboto';
  font-size: 1.4rem;
  display: block;
}

.authorDescription {
  color: var(--color-gray-500);
  font-size: 1.6rem;
  line-height: 2.4rem;
}
